openapi: "3.1.0"
info:
  title: "FirePT"
  description: "Expose your codebase workspace through a protected public API."
  version: "1.0.0"
servers:
  - url: "https://monitorfish.publichost.org"
paths:
  /file-system/list:
    post:
      operationId: "fileSystemList"
      description: "List files in a directory."
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                path:
                  type: "string"
                  description: "Directory path."
              required:
                - "path"
      responses:
        200:
          description: "List of file paths."
  /file-system/read:
    post:
      operationId: "fileSystemRead"
      description: "Read a file."
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                path:
                  type: "string"
                  description: "File path."
              required:
                - "path"
      responses:
        200:
          description: "File content."
  /file-system/create:
    post:
      operationId: "fileSystemCreate"
      description: "Create a file or directory."
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                path:
                  type: "string"
                  description: "File path. If the path ends with a `/`, a directory will be created."
                source:
                  type: "string"
                  description: "File content."
              required:
                - "path"
      responses:
        201:
          description: "File or directory created."
  /file-system/update:
    post:
      operationId: "fileSystemUpdate"
      description: "Update a file."
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                path:
                  type: "string"
                  description: "File path."
                source:
                  type: "string"
                  description: "File content."
              required:
                - "path"
                - "source"
      responses:
        204:
          description: "File updated."
  /file-system/delete:
    post:
      operationId: "fileSystemDelete"
      description: "Delete a file or directory."
      requestBody:
        content:
          application/json:
            schema:
              type: "object"
              properties:
                path:
                  type: "string"
                  description: "File path. If the path ends with a `/`, a directory will be created."
              required:
                - "path"
      responses:
        204:
          description: "File or directory deleted."
components:
  schemas: {}
tags: []
